<%- include("header") -%>

<ol>

  <% for (const crash_data of model) { %>
    <li>
      <%= crash_data.collision_id %>
      <em>(<%= crash_data.crash_date %>)</em>
    </li>
  <% } %>

</ol>

<%- include("footer") -%>