<%- include("header") -%>

<center>
<br>
<br>
    <h1>CISC 4800 - Project 2</h1>
<br>
    <h2>This project connected to New York Open Data API for Vehile Crushes.</h2>

</center>
<br>

<ol>
    <li>
The user Can register and this will add the user information to the user table in the database for future login.
    </li>
    <li>
        The user Can change his password or delete his account in the "My Profile" page. This will update the user table.
   </li>
   <li>
    The user can log out at any time by press logout.
</li>
   <li>
    Finally, the Data page is restircted to logged in users.
</li>
</ol>

<%- include("footer") -%>